<ion-header>
  <ion-toolbar>
    <ion-title>concert</ion-title>
    <ion-buttons class="ion-margin" slot="end">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-buttons>
  </ion-toolbar>

</ion-header>
<ion-grid [fixed]="true">

  <ion-card *ngFor="let item of this.concertData$ | async">
    <ion-card-header>
      <ion-text color="primary">
        {{item.nameConcert}}
      </ion-text>
    </ion-card-header>
    <ion-card-content>
      Date: {{item.dateConcert | date}}
    </ion-card-content>
    <div style="display: flex; justify-content:end;">
      <ion-button size="small" shape="round" fill="outline" color="danger" (click)="deleteConcert(item.id)">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
      <ion-button size="small" shape="round" color="success">
        <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-card>

</ion-grid>

<ion-content>

</ion-content>