<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="this.loginForm" (submit)="this.login()">

    <h4>Login</h4>
    <ion-item class="ion-align-items-center">
      <ion-label position="floating">
        Email
      </ion-label>
      <ion-input color="dark" formControlName="email" type="text" placeholder="example@mail.com">
      </ion-input>
    </ion-item>

    <ion-item class="ion-align-items-center">
      <ion-label position="floating">
        Password
      </ion-label>
      <ion-input color="dark" formControlName="password" type="password">
      </ion-input>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="this.loginForm.invalid">
      Ingresar
    </ion-button>
    <p>No estas registrado? <a routerLink="../register"> registrate</a></p>
  </form>



</ion-content>