<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="song">
      <ion-icon name="musical-notes-outline"></ion-icon>
      <ion-label>Song</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="singers">
      <ion-icon name="caret-forward-circle-outline"></ion-icon>
      <ion-label>Singers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recording">
      <ion-icon name="disc-outline"></ion-icon>
      <ion-label>Recording</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>